* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

/*Assets*/

.primary-color {
  background: #292828;
}

.secondary-text {
  font-family: "Bebas Neue", cursive;
}

/*Main Styles*/

.hero {
  background: url("../photos/bg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

.greeting {
  font-size: 10vw;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.languages {
  text-align: center;
}

.languages i {
  padding-right: 20px;
}

.navbar-brand {
  border-right: 1px solid #fff;
  font-size: 2.5em;
}

.btn {
  background: #fff;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.greeting {
  position: relative;
  margin-top: 200px;
}

/* Particles */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
}

/*Bio*/

h1 {
  text-align: center;
  margin: 75px 0;
}

.main-info {
  padding: 120px 100px;
  text-align: center;
}

.skills {
  background: #e3e6ea;
  padding: 70px 0;
}

.skills-icon i {
  text-align: center;
}

.skills p {
  padding: 15px 0;
  text-align: justify;
}

/*Projects*/

.projects {
  padding-bottom: 100px;
}

.filter-button {
  border: 1px solid #292828;
  margin-bottom: 30px;
}

.port-image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.gallery-item {
  margin-bottom: 30px;
}

.gallery-item img {
  width: 100%;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay {
  padding: 100px;
  text-align: center;
  color: #fff;
}

.parralax {
  background: url(../photos/wirefram.jpg) no-repeat center center/cover;
  height: 600px;
  background-attachment: fixed;
}

.quote {
  background-color: rgba(0, 0, 0, 0.8);
  height: 600px;
  padding: 10%;
}

.bubble {
  background-color: #fff;
  width: 400px;
  height: 350px;
  border-radius: 75px;
  position: relative;
  margin: 2em auto 10px;
  color: #000;
  /* -webkit-border-top-left-radius: 400px 350px;
  -webkit-border-top-right-radius: 400px 350px;
  -webkit-border-bottom-right-radius: 400px 350px;
  -webkit-border-bottom-left-radius: 400px 350px; */
  -moz-border-radius: 400px / 350px;
  border-radius: 400px / 350px;
  padding: 45px;
}

.bubble:before {
  content: "\201C";
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  font: 80px/1 Georgia, serif;
  color: #ffffff;
}

.bubble:after {
  content: "\201D";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 20px;
  font: 80px/0.25 Georgia, serif;
  color: #ffffff;
}

.bubble p {
  width: 250px;
  height: 250px;
  padding: 50px 0 0;
  margin: 10px auto;
  text-align: center;
  font-size: 35px;
}

.bubble p:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 55%;
  width: 180px; /* wider than necessary to make it look a bit better in IE8 */
  height: 60px;
  background: #fff; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius: 40px 50px;
  -moz-border-radius-bottomright: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform: translate(-30px, -2px);
  -moz-transform: translate(-30px, -2px);
  -ms-transform: translate(-30px, -2px);
  -o-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

.bubble p:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: -30px;
  right: 25%;
  height: 80px;
  border-right: 200px solid #ffffff;
  background: #ffffff; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius: 200px 100px;
  -moz-border-radius-bottomright: 200px 100px;
  border-bottom-right-radius: 200px 100px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

.bubble + p {
  position: relative; /* part of the IE8 width compromise */
  width: 150px;
  margin: 0 0 2em;
  font-size: 18px;
  font-weight: bold;
}

/* Contact Form */

#contactMe {
  padding-bottom: 100px;
}

.contact-form form {
  width: 75%;
}

.contact-form input {
  background: #f7f7f7;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact-form textarea {
  background: #f7f7f7;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.submitBtn {
  background: #000;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 120px;
}

/* FOOTER */
footer {
  background: #292828;
  color: #fff;
  text-align: center;
  padding: 50px;
}

/* Responsive Behavior */
@media screen and (max-width: 768px) {
  #social {
    display: none;
    color: red;
  }

  .main-info {
    padding: 50px 50px;
    text-align: left;
  }

  .skills {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 480px) {
}
